{
	"ignore": ["node-modules/**", "src/index.umd.js"],
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		], "stage-0", "react"
	],
	"env": {
		"test": {
			"plugins": ["external-helpers"],
		},
	}
}
